/* Using Josh Comeau's CSS Reset to begin, items listed below */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}
  
/* End of Josh Comeau's CSS Reset, begin my CSS below */

@font-face {
    font-family: "Norse-Bold";
    src:url(fonts/Norse-Bold.otf);
}

body {
    background-color: black;
    --button-color: #596D48;
    --input-default-color: #e5e7eb;
    --input-invalid-color: red;
    --input-selected-color: rgb(84, 134, 226);
}

a {
    color: inherit;
}

a:hover {
    cursor: pointer;
}

#container {
    display: flex;
    background-color: white;
    width: 1220px;
    min-height: 850px;
    margin: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#left-side {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    font-size: 0.75rem;
    padding-bottom: 10px;
}

img {
    height: 110px;
    width: 80px;
}

#logo {
    font-family: Norse-Bold;
    font-size: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(0px, 160px);
}

#right-side {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    width: 800px;
}

#right-top, #right-middle, #right-bottom {
    padding-left: 40px;
    padding-right: 120px;
}

#right-top, #right-bottom {
    background-color: #f5f5f5;
}

#right-top {
    padding-top: 100px;
    padding-bottom: 40px;
} 

#right-middle {
    padding-top: 20px;
    padding-bottom: 20px;
}

#right-bottom {
    flex: 1;
    font-size: 1rem;
    padding-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#right-bottom a {
    text-decoration: none;
    color: var(--button-color);
}

input {
    height: 30px;
    width: 220px;
    border-color: var(--input-default-color);
    border-style: solid;
    border-radius: 3px;
    outline: none;
    font-size: 0.9rem;
    font-weight: normal;
}

input:focus {
    border: 2px solid var(--input-selected-color);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

input:invalid {
    border-color: var(--input-invalid-color);
}

input:invalid + span::after {
    content: "*Invalid Password";
    color: var(--input-invalid-color);
    font-size: 0.8rem;
    position: absolute;
}

label {
    font-size: 0.7rem;
    color: #0b1a2ec9;
}

button {
    margin-bottom: 20px;
    background-color: var(--button-color);
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 0px;
    border: none;
    font-weight: bold
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 80px;
}