/* Using Josh Comeau's CSS Reset to begin, items listed below */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}
  
/* End of Josh Comeau's CSS Reset, begin my CSS below */

body {
    background-color: black;
}

#container {
    display: flex;
    background-color: white;
    width: 1250px;
    min-height: 850px;
    margin: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#left-side {
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 450px;
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg)
}

#right-side {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    width: 800px;
}

#right-top, #right-middle, #right-bottom {
    flex: 1;
    padding-left: 20px;
}

#right-top, #right-bottom {
    background-color: lightgray;
}

#right-middle, #right-bottom {
    padding-top: 20px;
}

#right-top {
    padding-top: 100px;
    
} 

#right-bottom {
    font-size: 1rem;
    flex: 2;
}

input {
    height: 25px;
    width: 200px;
    margin-top: 10px;
}

label {
    font-size: 0.7rem;
}

button {
    margin-bottom: 20px;
    background-color: #596D48;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: none;
    width: 500px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    width: 200px;
}

 /* Need to add css variables to make code more efficient */